/* I need to be much more wary of repeating styles that I want to use so I can style parent tags instead of having to repeat styles in class tags */
body {
  margin: 0;
}

h2 {
  font-family: kanit;
}
p {
  padding-bottom: 20px;
  font-size: 20px;
  font-family: Oxygen;
  font-weight: 300;
  color: #100f0f;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  list-style-type: none;
}

/* Fixed navigation bar */

.navbar {
  display: flex;
  width: 100%;
  height: 75px;
  background-color: #a8534d;
  align-items: center;
  position: fixed;
  box-shadow: 2px 2px 5px #e0e0e0;
  opacity: 0.9;
  margin-top: 0;
  padding-top: 0 !important;
}

.navlist {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 20px;
}

.navlink {
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  color: #e0e0e0;
  font-family: Kanit;
  font-size: 2.5vw;
  font-size: min(18px);
}

.navlink:hover {
  color: #a0a0a0;
}

.home {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-start;
  width: 40vw;
  width: min(275px);
  font-family: Kanit;
  font-size: 3vw;
  font-size: min(25px);
  font-weight: bold;
}

/* Welcome */
.welcome {
  padding-top: 80px;
  font-family: Kanit;
  justify-content: center;
  display: flex;
  font-size: 25px;
  text-align: center;
}

.message {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
  border-left: 10px solid #abc8be;
  border-right: 10px solid #abc8be;
  padding: 10px 30px;
  margin-bottom: 75px;
}

.message a.text-link {
  display: inline-block;
  white-space: nowrap;
}
.text-link {
  font-style: italic;
  text-decoration: none;
  color: #100f0f;
}

.text-link:hover {
  color: #747171;
}
.bold-italic {
  font-weight: bold;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  /* background: #7fa097; */
}
.intro-block {
  padding: 20px;
}

.block {
  width: 40vw;
  min-width: 300px;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-bottom: 19.92;
  background: #abc8be;
  font-family: Oxygen;
  font-size: 20px;
  border-radius: 50px;
}

/* Journey */

.placeholder {
  height: 80px;
}

.blog-link {
  color: #100f0f;
}

.blog-link:hover {
  color: #747171;
}
